.loader {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background:
      linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
    animation: l2 2s infinite steps(10);
    z-index: 1000;
  }
  
  @keyframes l2 {
    100% {
      background-size: 110%;
    }
  }
  